appnope==0.1.0
backcall==0.1.0
casttube==0.2.0
certifi==2018.8.24
chardet==3.0.4
decorator==4.3.0
idna==2.7
ifaddr==0.1.4
ipaddress==1.0.22
jedi==0.12.1
netdisco==2.1.0
parso==0.3.1
pexpect==4.6.0
phue==1.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
PyChromecast==2.3.0
pyphue==1.0.2
pyyaml>=4.2b1
qhue==1.0.9
requests>=2.20.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
zeroconf==0.21.3
